USE [master]
GO
/****** Objeto: Database [Refaccionaria] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
IF DB_ID(N'Refaccionaria') IS NULL
CREATE DATABASE [Refaccionaria]
GO
 
USE [Refaccionaria]
GO
/****** Objeto: UserDefinedTableType [dbo].[UDT_CotizacionDetalleModificar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
IF TYPE_ID(N'dbo.UDT_CotizacionDetalleModificar') IS NULL
CREATE TYPE [dbo].[UDT_CotizacionDetalleModificar] AS TABLE(
	[parte_id] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[descuento] [decimal](18, 2) NULL
)
GO
/****** Objeto: Table [dbo].[Anio] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Anio', N'U') IS NULL
CREATE TABLE [dbo].[Anio](
	[id_anio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](10) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CotizacionDetalle] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.CotizacionDetalle', N'U') IS NULL
CREATE TABLE [dbo].[CotizacionDetalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[folio_cotizacion] [int] NOT NULL,
	[parte_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[descuento] [decimal](5, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cotizaciones] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Cotizaciones', N'U') IS NULL
CREATE TABLE [dbo].[Cotizaciones](
	[folio] [int] IDENTITY(1,1) NOT NULL,
	[cliente] [varchar](255) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[vigencia] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Marca] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Marca', N'U') IS NULL
CREATE TABLE [dbo].[Marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Modelo] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Modelo', N'U') IS NULL
CREATE TABLE [dbo].[Modelo](
	[id_modelo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[id_marca] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_modelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Partes] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Partes', N'U') IS NULL
CREATE TABLE [dbo].[Partes](
	[id_parte] [int] IDENTITY(1,1) NOT NULL,
	[tipoRefaCat_id] [int] NULL,
	[proveedor_id] [int] NULL,
	[unidad_id] [int] NULL,
	[nombre] [nvarchar](255) NULL,
	[descripcion] [nvarchar](255) NULL,
	[num_parte] [nvarchar](255) NULL,
	[img_path] [nvarchar](255) NULL,
	[costo] [float] NULL,
	[precio] [float] NULL,
	[existencias] [float] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_parte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proveedores] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Proveedores', N'U') IS NULL
CREATE TABLE [dbo].[Proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RelAnioModelo] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.RelAnioModelo', N'U') IS NULL
CREATE TABLE [dbo].[RelAnioModelo](
	[id_relAnioModelo] [int] IDENTITY(1,1) NOT NULL,
	[anio_id] [int] NULL,
	[modelo_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_relAnioModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RelEquivalencias] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.RelEquivalencias', N'U') IS NULL
CREATE TABLE [dbo].[RelEquivalencias](
	[id_relEquivalencias] [int] IDENTITY(1,1) NOT NULL,
	[parte_id] [int] NULL,
	[equivalente_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_relEquivalencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RelMarcaAnio] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.RelMarcaAnio', N'U') IS NULL
CREATE TABLE [dbo].[RelMarcaAnio](
	[id_relMarcaAnio] [int] IDENTITY(1,1) NOT NULL,
	[marca_id] [int] NULL,
	[anio_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_relMarcaAnio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RelPartesVersion] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.RelPartesVersion', N'U') IS NULL
CREATE TABLE [dbo].[RelPartesVersion](
	[id_relParteVersion] [int] IDENTITY(1,1) NOT NULL,
	[version_id] [int] NULL,
	[parte_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_relParteVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoRefaCat] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.TipoRefaCat', N'U') IS NULL
CREATE TABLE [dbo].[TipoRefaCat](
	[id_tipoRefaCat] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[izq] [int] NULL,
	[der] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipoRefaCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UnidadesCat] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.UnidadesCat', N'U') IS NULL
CREATE TABLE [dbo].[UnidadesCat](
	[id_unidadesCat] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[descripcion] [nvarchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_unidadesCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Version] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Version', N'U') IS NULL
CREATE TABLE [dbo].[Version](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[modelo_id] [int] NULL,
	[nombre] [nvarchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Anio') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Anio] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.CotizacionDetalle') AND c.name=N'descuento')
ALTER TABLE [dbo].[CotizacionDetalle] ADD  DEFAULT ((0.00)) FOR [descuento]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Cotizaciones') AND c.name=N'fecha')
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT (getdate()) FOR [fecha]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Cotizaciones') AND c.name=N'subtotal')
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((0.00)) FOR [subtotal]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Cotizaciones') AND c.name=N'IVA')
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((0.00)) FOR [IVA]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Cotizaciones') AND c.name=N'total')
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((0.00)) FOR [total]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Marca') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Marca] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Modelo') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Modelo] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Partes') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Partes] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Proveedores') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.RelAnioModelo') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[RelAnioModelo] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.RelEquivalencias') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[RelEquivalencias] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.RelMarcaAnio') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[RelMarcaAnio] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.RelPartesVersion') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[RelPartesVersion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.TipoRefaCat') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[TipoRefaCat] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.UnidadesCat') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[UnidadesCat] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints dc JOIN sys.columns c ON dc.parent_object_id=c.object_id AND dc.parent_column_id=c.column_id WHERE dc.parent_object_id=OBJECT_ID(N'dbo.Version') AND c.name=N'fecha_creacion')
ALTER TABLE [dbo].[Version] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
IF OBJECT_ID(N'dbo.FK_CotizacionDetalle_Cotizaciones', N'F') IS NULL
ALTER TABLE [dbo].[CotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CotizacionDetalle_Cotizaciones] FOREIGN KEY([folio_cotizacion])
REFERENCES [dbo].[Cotizaciones] ([folio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CotizacionDetalle] CHECK CONSTRAINT [FK_CotizacionDetalle_Cotizaciones]
GO
IF OBJECT_ID(N'dbo.FK_CotizacionDetalle_Partes', N'F') IS NULL
ALTER TABLE [dbo].[CotizacionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CotizacionDetalle_Partes] FOREIGN KEY([parte_id])
REFERENCES [dbo].[Partes] ([id_parte])
GO
ALTER TABLE [dbo].[CotizacionDetalle] CHECK CONSTRAINT [FK_CotizacionDetalle_Partes]
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE parent_object_id=OBJECT_ID(N'dbo.Modelo') AND referenced_object_id=OBJECT_ID(N'dbo.Marca'))
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marca] ([id_marca])
GO
IF OBJECT_ID(N'dbo.id_tipoRefaCat', N'F') IS NULL
ALTER TABLE [dbo].[Partes]  WITH CHECK ADD  CONSTRAINT [id_tipoRefaCat] FOREIGN KEY([tipoRefaCat_id])
REFERENCES [dbo].[TipoRefaCat] ([id_tipoRefaCat])
GO
ALTER TABLE [dbo].[Partes] CHECK CONSTRAINT [id_tipoRefaCat]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModeloInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_ModeloInsertar]
GO
CREATE PROCEDURE [dbo].[sp_ModeloInsertar]
@Nombre nvarchar(20),
	@id_marca int
as
begin
	insert into Modelo(nombre,id_marca,fecha_creacion,fecha_modificacion)
	values(@Nombre, @id_marca,getdate(),getdate())
end
GO
/****** Objeto: StoredProcedure [dbo].[sp_ModificarCotizacionCompleta] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_ModificarCotizacionCompleta]
GO
CREATE PROCEDURE [dbo].[sp_ModificarCotizacionCompleta]
    @folio INT,
    @cliente VARCHAR(150),
    @fecha DATE,
    @vigencia DATE,
    @Detalles dbo.UDT_CotizacionDetalleModificar READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Validar que la cotización exista
        IF NOT EXISTS (SELECT 1 FROM Cotizaciones WHERE folio = @folio)
        BEGIN
            RAISERROR('La cotización especificada no existe.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Eliminar las partidas anteriores asociadas al folio
        DELETE FROM CotizacionDetalle 
        WHERE folio_cotizacion = @folio;

        -- 3. Insertar la nueva lista de productos (incluyendo cambios de parte_id)
        INSERT INTO CotizacionDetalle (
            folio_cotizacion, 
            parte_id, 
            cantidad, 
            precio_unitario, 
            descuento, 
            subtotal
        )
        SELECT 
            @folio,
            parte_id,
            cantidad,
            precio_unitario,
            descuento,
            -- Cálculo considerando descuento como Porcentaje:
            ((cantidad * precio_unitario) * (1 - (descuento / 100.0)))
            -- Si tu descuento es en Monto Fijo, cambia la línea por: ((cantidad * precio_unitario) - descuento)
        FROM @Detalles;

        -- 4. Recalcular Subtotal, IVA y Total para la cabecera
        DECLARE @NuevoSubtotal DECIMAL(18, 2);
        DECLARE @NuevoIVA DECIMAL(18, 2);
        DECLARE @NuevoTotal DECIMAL(18, 2);

        SELECT @NuevoSubtotal = ISNULL(SUM(subtotal), 0)
        FROM CotizacionDetalle
        WHERE folio_cotizacion = @folio;

        SET @NuevoIVA = @NuevoSubtotal * 0.16; -- Ajustar IVA (16%)
        SET @NuevoTotal = @NuevoSubtotal + @NuevoIVA;

        -- 5. Actualizar la cabecera en Cotizaciones
        UPDATE Cotizaciones
        SET cliente = @cliente,
            fecha = @fecha,
            subtotal = @NuevoSubtotal,
            IVA = @NuevoIVA,
            total = @NuevoTotal,
            vigencia = @vigencia
        WHERE folio = @folio;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_NumPartesMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_NumPartesMostrar]
GO
CREATE PROCEDURE [dbo].[sp_NumPartesMostrar]
	
as
begin
	select id_parte, num_parte as Parte, nombre as Nombre, precio,
	CONCAT(num_parte, ' - ',nombre) as idNombre
	from Partes

end
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerAnios] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_ObtenerAnios]
GO
CREATE PROCEDURE [dbo].[sp_ObtenerAnios]
    @IdModelo INT = null
AS
BEGIN
    SET NOCOUNT ON;

SELECT m.id_modelo, m.nombre AS modelo, a.nombre AS anio
FROM modelo m
INNER JOIN anio a ON m.id_modelo = a.id_anio AND a.id_anio = @IdModelo
where @IdModelo IS NULL OR id_modelo = @IdModelo
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerModelos] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[sp_ObtenerModelos]
GO
CREATE PROCEDURE [dbo].[sp_ObtenerModelos]
    @IdMarca INT = null,
    @IdModelo INT = null
AS
BEGIN
    SET NOCOUNT ON;

SELECT m.id_modelo, m.nombre AS modelo, ma.nombre AS marca
FROM modelo m
INNER JOIN marca ma ON m.id_marca = ma.id_marca AND ma.id_marca = @IdMarca
where @IdModelo IS NULL OR id_modelo = @IdModelo
END;

GO
/****** Objeto: StoredProcedure [dbo].[sp_ParteBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_ParteBuscar]
GO
CREATE PROCEDURE [dbo].[sp_ParteBuscar]
    @num_parte INT
AS
BEGIN
    -- Evita que SQL indique el número de filas afectadas en la respuesta
    SET NOCOUNT ON;

    SELECT
        p.id_parte,
        p.num_parte AS NumParte,
        p.nombre AS Parte,
        p.descripcion AS Descripción,
        p.precio AS Precio,
        p.existencias AS Existencias,
        p.costo AS Costo,
        p.img_path AS Path,
        pro.nombre AS Proveedor,
        cat.nombre AS Categoria,
        mar.nombre AS Marca,
        mod.nombre AS Modelo,
        ani.nombre AS Año,
        ver.nombre AS Version
        FROM Partes p
-- Relación con Categoría
LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat

-- Relación con Versión y Vehículo (Compatibilidad)
LEFT JOIN RelPartesVersion rpv ON p.id_parte = rpv.parte_id
LEFT JOIN Version ver ON rpv.version_id = ver.version_id
LEFT JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
LEFT JOIN Marca mar ON mod.id_marca = mar.id_marca

-- Relación con Año a través del Modelo
LEFT JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
LEFT JOIN Anio ani ON ram.anio_id = ani.id_anio

--Relación con proveedor
LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor
    WHERE num_parte = @num_parte;

END;
GO
/****** Objeto: StoredProcedure [dbo].[spAnioBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spAnioBuscar]
GO
CREATE PROCEDURE [dbo].[spAnioBuscar]
	@anio int 
as
begin
    Select id_anio, nombre from Anio
	where @anio = nombre

end
GO
/****** Objeto: StoredProcedure [dbo].[spAnioEditar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spAnioEditar]
GO
CREATE PROCEDURE [dbo].[spAnioEditar]
    @id_anio INT,
    @nombre VARCHAR(100)
AS
BEGIN
    UPDATE Anio
    SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE id_anio = @id_anio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spAnioEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spAnioEliminar]
GO
CREATE PROCEDURE [dbo].[spAnioEliminar]
    @anio INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Anio
    WHERE id_anio = @anio;
    DELETE FROM RelAnioModelo
    WHERE anio_id = @anio;
    DELETE FROM RelMarcaAnio
    WHERE anio_id = @anio;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spAnioInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spAnioInsertar]
GO
CREATE PROCEDURE [dbo].[spAnioInsertar]
    @nombre VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Anio
    (
        nombre,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_anio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spAnioMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spAnioMostrar]
GO
CREATE PROCEDURE [dbo].[spAnioMostrar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
       id_anio, nombre
        
    FROM Anio
    ORDER BY nombre ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCategoriaBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCategoriaBuscar]
GO
CREATE PROCEDURE [dbo].[spCategoriaBuscar]
	@categoria int 
as
begin
    Select id_tipoRefaCat, nombre from TipoRefaCat
	where @categoria = nombre

end
GO
/****** Objeto: StoredProcedure [dbo].[spCategoriaEditar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCategoriaEditar]
GO
CREATE PROCEDURE [dbo].[spCategoriaEditar]
    @id_tipoRefaCat INT,
    @nombre VARCHAR(100)
AS
BEGIN
    UPDATE TipoRefaCat
    SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE id_tipoRefaCat = @id_tipoRefaCat;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionDetalleAlta] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionDetalleAlta]
GO
CREATE PROCEDURE [dbo].[spCotizacionDetalleAlta]
    @folio_cotizacion INT,
    @parte_id INT,
    @cantidad INT,
    @precio_unitario DECIMAL(10,2),
    @descuento DECIMAL(5,2) = 0,
    @subtotal DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CotizacionDetalle (
        folio_cotizacion, 
        parte_id, 
        cantidad, 
        precio_unitario, 
        descuento, 
        subtotal
    )
    VALUES (
        @folio_cotizacion, 
        @parte_id, 
        @cantidad, 
        @precio_unitario, 
        @descuento, 
        @subtotal
    );

    SELECT SCOPE_IDENTITY() AS NuevoIdDetalle;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionDetalleBaja] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionDetalleBaja]
GO
CREATE PROCEDURE [dbo].[spCotizacionDetalleBaja]
    @folio_cotizacion INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CotizacionDetalle
    WHERE folio_cotizacion = @folio_cotizacion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionDetalleBajaItem] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionDetalleBajaItem]
GO
CREATE PROCEDURE [dbo].[spCotizacionDetalleBajaItem]
    @id_detalle INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM CotizacionDetalle
    WHERE id_detalle = @id_detalle;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionDetalleBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionDetalleBuscar]
GO
CREATE PROCEDURE [dbo].[spCotizacionDetalleBuscar]
	@folio INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.parte_id, 
        p.descripcion, 
        d.cantidad, 
        d.precio_unitario, 
        d.descuento, 
        d.subtotal 
    FROM CotizacionDetalle d
    INNER JOIN Partes p ON d.parte_id = p.id_parte
    WHERE d.folio_cotizacion = @folio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionDetalleMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionDetalleMostrar]
GO
CREATE PROCEDURE [dbo].[spCotizacionDetalleMostrar]
    @folio_cotizacion INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.id_detalle,
        d.folio_cotizacion,
        d.parte_id,
        p.nombre AS refaccion, -- O p.descripcion según el nombre de campo en tu tabla Partes
        d.cantidad,
        d.precio_unitario,
        d.descuento,
        d.subtotal
    FROM CotizacionDetalle d
    INNER JOIN Partes p ON d.parte_id = p.id_parte
    WHERE d.folio_cotizacion = @folio_cotizacion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionesAlta] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesAlta]
GO
CREATE PROCEDURE [dbo].[spCotizacionesAlta]
    @cliente VARCHAR(150),
    @subtotal DECIMAL(10,2),
    @iva DECIMAL(10,2),
    @total DECIMAL(10,2),
    @vigencia_dias DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Cotizaciones (fecha, cliente, subtotal, iva, total, vigencia)
    VALUES (GETDATE(), @cliente, @subtotal, @iva, @total, @vigencia_dias);

    -- Devuelve el folio identity que acaba de generar SQL Server
    SELECT SCOPE_IDENTITY() AS NuevoFolio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionesBaja] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesBaja]
GO
CREATE PROCEDURE [dbo].[spCotizacionesBaja]
    @folio INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Cotizaciones
    WHERE folio = @folio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionesConsulta] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesConsulta]
GO
CREATE PROCEDURE [dbo].[spCotizacionesConsulta]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        folio,
        fecha,
        cliente,
        subtotal,
        iva,
        total,
        vigencia
    FROM Cotizaciones
    ORDER BY folio DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionesFiltro] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesFiltro]
GO
CREATE PROCEDURE [dbo].[spCotizacionesFiltro]
    @cliente VARCHAR(150) = NULL,
    @fecha DATE = NULL,
    @vigencia DATE = NULL,
    @total DECIMAL(18, 2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        folio,
        fecha,
        cliente,
        subtotal,
        iva,
        total,
        vigencia
    FROM Cotizaciones
    WHERE (@cliente IS NULL OR cliente LIKE '%' + @cliente + '%')
      AND (@fecha IS NULL OR CAST(fecha AS DATE) = @fecha)
      AND (@vigencia IS NULL OR CAST(vigencia AS DATE) = @vigencia)
      AND (@total IS NULL OR total = @total)
    ORDER BY folio DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spCotizacionesMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesMostrar]
GO
CREATE PROCEDURE [dbo].[spCotizacionesMostrar]
    @folio INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        folio,
        fecha,
        cliente,
        subtotal,
        iva,
        total,
        vigencia
    FROM Cotizaciones
    WHERE folio = @folio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spDescripcionMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spDescripcionMostrar]
GO
CREATE PROCEDURE [dbo].[spDescripcionMostrar]
	@id int
as
begin
	Select descripcion, precio, existencias,
	CONCAT(descripcion, '   Precio: ',precio, '  Existencias: ',existencias) as descripCompleta
	From Partes
	Where id_parte = @id

end
GO
/****** Objeto: StoredProcedure [dbo].[spEquivalentesMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spEquivalentesMostrar]
GO
CREATE PROCEDURE [dbo].[spEquivalentesMostrar]
   @idparte int = null
as
begin
SELECT DISTINCT
        p.id_parte,
        p.num_parte,
        p.nombre,
        CONCAT(p.num_parte, ' - ',p.nombre) as equivalente
    FROM Partes p
    INNER JOIN (
        SELECT equivalente_id AS id_relacionado 
        FROM RelEquivalencias
        WHERE parte_id = @idparte
        
        UNION
        
        SELECT parte_id AS id_relacionado 
        FROM RelEquivalencias
        WHERE equivalente_id = @idparte
    ) eq ON p.id_parte = eq.id_relacionado
    WHERE p.id_parte <> @idparte;
end
GO
/****** Objeto: StoredProcedure [dbo].[spMarcaBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spMarcaBuscar]
GO
CREATE PROCEDURE [dbo].[spMarcaBuscar]
	@marca int 
as
begin
    Select id_marca, nombre from Marca
	where @marca = nombre

end
GO
/****** Objeto: StoredProcedure [dbo].[spMarcaEditar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spMarcaEditar]
GO
CREATE PROCEDURE [dbo].[spMarcaEditar]
    @id_marca INT,
    @nombre VARCHAR(100)
AS
BEGIN
    UPDATE Marca
    SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE id_marca = @id_marca;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spMarcaEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spMarcaEliminar]
GO
CREATE PROCEDURE [dbo].[spMarcaEliminar]
    @marca INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Marca
    WHERE id_marca = @marca;
    DELETE FROM RelMarcaAnio
    WHERE marca_id = @marca;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spMarcaInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spMarcaInsertar]
GO
CREATE PROCEDURE [dbo].[spMarcaInsertar]
    @nombre VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Marca
    (
        nombre,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_marca;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spMarcaMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spMarcaMostrar]
GO
CREATE PROCEDURE [dbo].[spMarcaMostrar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
       id_marca, nombre as Nombre
        
    FROM Marca
    ORDER BY nombre ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spModeloBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spModeloBuscar]
GO
CREATE PROCEDURE [dbo].[spModeloBuscar]
	@modelo int 
as
begin
    Select id_modelo, nombre from Modelo
	where @modelo = nombre

end
GO
/****** Objeto: StoredProcedure [dbo].[spModeloEditar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spModeloEditar]
GO
CREATE PROCEDURE [dbo].[spModeloEditar]
    @id_modelo INT,
    @nombre VARCHAR(100)
AS
BEGIN
    UPDATE Modelo
    SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE id_modelo = @id_modelo;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spModeloEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spModeloEliminar]
GO
CREATE PROCEDURE [dbo].[spModeloEliminar]
    @modelo INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Modelo
    WHERE id_modelo = @modelo;
    DELETE FROM RelAnioModelo
    WHERE modelo_id = @modelo;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spModeloInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spModeloInsertar]
GO
CREATE PROCEDURE [dbo].[spModeloInsertar]
    @nombre VARCHAR(255),
    @marca int
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Modelo
    (
        nombre,
        id_marca,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        @marca,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_modelo;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spModeloMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spModeloMostrar]
GO
CREATE PROCEDURE [dbo].[spModeloMostrar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_modelo, nombre
        
    FROM Modelo
    ORDER BY nombre ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spParteBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spParteBuscar]
GO
CREATE PROCEDURE [dbo].[spParteBuscar]
	@parte int

as
begin
SELECT
        p.id_parte,
        p.num_parte AS NumParte,
        p.nombre AS Parte,
        p.descripcion AS Descripción,
        p.precio AS Precio,
        p.existencias AS Existencias,
        p.costo AS Costo,
        p.img_path AS Path,
        pro.nombre AS Proveedor,
        cat.nombre AS Categoria,
        mar.nombre AS Marca,
        mod.nombre AS Modelo,
        ani.nombre AS Año,
        ver.nombre AS Version
        FROM Partes p
-- Relación con Categoría
LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat

-- Relación con Versión y Vehículo (Compatibilidad)
LEFT JOIN RelPartesVersion rpv ON p.id_parte = rpv.parte_id
LEFT JOIN Version ver ON rpv.version_id = ver.version_id
LEFT JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
LEFT JOIN Marca mar ON mod.id_marca = mar.id_marca

-- Relación con Año a través del Modelo
LEFT JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
LEFT JOIN Anio ani ON ram.anio_id = ani.id_anio

--Relación con proveedor
LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor
    WHERE num_parte = @parte;

END;
GO
/****** Objeto: StoredProcedure [dbo].[spPartesEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spPartesEliminar]
GO
CREATE PROCEDURE [dbo].[spPartesEliminar]
    @id_parte INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Partes
    WHERE @id_parte = @id_parte;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spPartesFiltro] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spPartesFiltro]
GO
CREATE PROCEDURE [dbo].[spPartesFiltro]
    @Marca VARCHAR(100),
    @Modelo VARCHAR(100),
    @Version VARCHAR(100),
    @Anio VARCHAR,
    @Categoria VARCHAR(100)
AS
BEGIN
    SELECT 
        p.id_parte AS id_parte,
        p.num_parte AS NumParte,
        p.nombre AS Parte,
        p.descripcion AS Descripción,
        p.precio AS Precio,
        p.existencias AS Existencias,
        p.costo AS Costo,
        p.img_path AS Path,
        pro.nombre AS Proveedor,
        cat.nombre AS Categoria,
        mar.nombre AS Marca,
        mod.nombre AS Modelo,
        ani.nombre AS Año,
        ver.nombre AS Version
    FROM Partes p
    -- Relación con Categoría
    LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat

    -- Relación con Versión y Vehículo (Compatibilidad)
    LEFT JOIN RelPartesVersion rpv ON p.id_parte = rpv.parte_id
    LEFT JOIN Version ver ON rpv.version_id = ver.version_id
    LEFT JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
    LEFT JOIN Marca mar ON mod.id_marca = mar.id_marca

    -- Relación con Año a través del Modelo
    LEFT JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
    LEFT JOIN Anio ani ON ram.anio_id = ani.id_anio

    -- Relación con Proveedor
    LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor

    WHERE 
        mar.nombre = @Marca AND
        mod.nombre = @Modelo AND
        ver.nombre = @Version AND
        ani.nombre = @Anio AND
        cat.nombre = @Categoria

    ORDER BY p.num_parte ASC;
END
GO
/****** Objeto: StoredProcedure [dbo].[spPartesInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spPartesInsertar]
GO
CREATE PROCEDURE [dbo].[spPartesInsertar]
    @tipoRefaCat_id int,
    @proveedor_id int,
    @nombre nvarchar(255),
    @descripcion nvarchar(255),
    @num_parte nvarchar(255),
    @img_path nvarchar(255),
    @costo float,
    @precio float,
    @existencias float

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Partes
    (
        tipoRefaCat_id,
        proveedor_id,
        nombre,
        descripcion,
        num_parte,
        img_path,
        costo,
        precio,
        existencias,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @tipoRefaCat_id,
        @proveedor_id,
        @nombre,
        @descripcion,
        @num_parte,
        @img_path,
        @costo,
        @precio,
        @existencias,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_parte;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spPartesModificar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spPartesModificar]
GO
CREATE PROCEDURE [dbo].[spPartesModificar]
    @id_parte INT,
    @tipoRefaCat_id INT,
    @proveedor_id INT,
    @unidad_id INT,
    @nombre VARCHAR(150),
    @descripcion VARCHAR(MAX),
    @num_parte VARCHAR(100),
    @img_path VARCHAR(255),
    @costo DECIMAL(18,2),
    @precio DECIMAL(18,2),
    @existencias INT,
    @version_id INT -- ID de la versión a asociar o actualizar
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Validar que la parte exista
        IF NOT EXISTS (SELECT 1 FROM Partes WHERE id_parte = @id_parte)
        BEGIN
            RAISERROR('El registro de la parte especificada no existe.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 2. Actualizar los datos principales en la tabla Partes
        UPDATE Partes
        SET tipoRefaCat_id = @tipoRefaCat_id,
            proveedor_id = @proveedor_id,
            unidad_id = @unidad_id,
            nombre = @nombre,
            descripcion = @descripcion,
            num_parte = @num_parte,
            img_path = @img_path,
            costo = @costo,
            precio = @precio,
            existencias = @existencias, -- Nombre de columna según la estructura definida
            fecha_modificacion = GETDATE()
        WHERE id_parte = @id_parte;

        -- 3. Gestionar la relación en RelPartesVersion
        IF EXISTS (SELECT 1 FROM RelPartesVersion WHERE parte_id = @id_parte)
        BEGIN
            -- Si la relación ya existe, actualizar la versión y la fecha
            UPDATE RelPartesVersion
            SET version_id = @version_id,
                fecha_modificacion = GETDATE()
            WHERE parte_id = @id_parte;
        END
        ELSE
        BEGIN
            -- Si no existe un registro previo para esta parte, insertarlo
            INSERT INTO RelPartesVersion (
                version_id, 
                parte_id, 
                fecha_creacion, 
                fecha_modificacion
            )
            VALUES (
                @version_id, 
                @id_parte, 
                GETDATE(), 
                GETDATE()
            );
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[spPartesMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spPartesMostrar]
GO
CREATE PROCEDURE [dbo].[spPartesMostrar]
AS
BEGIN 
SELECT 
    p.id_parte as id_parte,
    p.num_parte AS NumParte,
    p.nombre AS Parte,
    p.descripcion AS Descripción,
    p.precio AS Precio,
    p.existencias AS Existencias,
    p.costo AS Costo,
    p.img_path AS Path,
    pro.nombre AS Proveedor,
    cat.nombre AS Categoria,
    mar.nombre AS Marca,
    mod.nombre AS Modelo,
    ani.nombre AS Año,
    ver.nombre AS Version
FROM Partes p
-- Relación con Categoría
LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat

-- Relación con Versión y Vehículo (Compatibilidad)
LEFT JOIN RelPartesVersion rpv ON p.id_parte = rpv.parte_id
LEFT JOIN Version ver ON rpv.version_id = ver.version_id
LEFT JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
LEFT JOIN Marca mar ON mod.id_marca = mar.id_marca

-- Relación con Año a través del Modelo
LEFT JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
LEFT JOIN Anio ani ON ram.anio_id = ani.id_anio

--Relación con proveedor
LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor

Order by p.num_parte asc;
END
GO
/****** Objeto: StoredProcedure [dbo].[spProveedoresBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spProveedoresBuscar]
GO
CREATE PROCEDURE [dbo].[spProveedoresBuscar]
	@nombre VARchaR(255)
AS
BEGIN
SELECT id_proveedor, nombre
from Proveedores
where nombre = @nombre
end
GO
/****** Objeto: StoredProcedure [dbo].[spProveedoresEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spProveedoresEliminar]
GO
CREATE PROCEDURE [dbo].[spProveedoresEliminar]
    @proveedor INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Proveedores 
    WHERE id_proveedor = @proveedor;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spProveedoresInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spProveedoresInsertar]
GO
CREATE PROCEDURE [dbo].[spProveedoresInsertar]
    @nombre VARCHAR(255)

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Proveedores
    (
        nombre,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_proveedor;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spProveedoresMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spProveedoresMostrar]
GO
CREATE PROCEDURE [dbo].[spProveedoresMostrar]
AS
BEGIN
SELECT id_proveedor, nombre
from proveedores
end
GO
/****** Objeto: StoredProcedure [dbo].[spRelAnioModeloEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelAnioModeloEliminar]
GO
CREATE PROCEDURE [dbo].[spRelAnioModeloEliminar]
    @id_relAnioModelo INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM RelAnioModelo
    WHERE @id_relAnioModelo = @id_relAnioModelo;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelAnioModeloInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelAnioModeloInsertar]
GO
CREATE PROCEDURE [dbo].[spRelAnioModeloInsertar]
    @anio int,
    @modelo int

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO RelAnioModelo
    (
        anio_id,
        modelo_id,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @anio,
        @modelo,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_RelAnioModelo;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelEquivalenciasEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelEquivalenciasEliminar]
GO
CREATE PROCEDURE [dbo].[spRelEquivalenciasEliminar]
    @id_relEquivalencia INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM RelEquivalencias
    WHERE @id_relEquivalencia = @id_relEquivalencia;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelEquivalenciasInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelEquivalenciasInsertar]
GO
CREATE PROCEDURE [dbo].[spRelEquivalenciasInsertar]
    @parte_id int,
    @equivalente_id int

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO RelEquivalencias
    (
        parte_id,
        equivalente_id,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @parte_id,
        @equivalente_id,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_relEquivalencia;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelMarcaAnioEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelMarcaAnioEliminar]
GO
CREATE PROCEDURE [dbo].[spRelMarcaAnioEliminar]
    @id_relMarcaAnio INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM RelMarcaAnio 
    WHERE @id_relMarcaAnio = @id_relMarcaAnio;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelMarcaAnioInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelMarcaAnioInsertar]
GO
CREATE PROCEDURE [dbo].[spRelMarcaAnioInsertar]
    @marca int,
    @anio int

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO RelMarcaAnio
    (
        marca_id,
        anio_id,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @marca,
        @anio,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_RelMarcaAnio;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelPartesVersionEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelPartesVersionEliminar]
GO
CREATE PROCEDURE [dbo].[spRelPartesVersionEliminar]
    @id_relParteVersion INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM RelPartesVersion
    WHERE @id_relParteVersion = @id_relParteVersion;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelPartesVersionInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelPartesVersionInsertar]
GO
CREATE PROCEDURE [dbo].[spRelPartesVersionInsertar]
    @version_id int,
    @parte_id int

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO RelPartesVersion
    (
        version_id,
        parte_id,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @version_id,
        @parte_id,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_relParteVersion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spRelVersionEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spRelVersionEliminar]
GO
CREATE PROCEDURE [dbo].[spRelVersionEliminar]
    @id_version INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Version
    WHERE @id_version = @id_version;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spReporteExistencias] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spReporteExistencias]
GO
CREATE PROCEDURE [dbo].[spReporteExistencias]
    @existenciasMinimas INT = NULL -- Filtro opcional por existencias
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        num_parte AS [Número de Parte],
        nombre AS [Nombre],
        descripcion AS [Descripción],
        existencias AS [Existencias]
    FROM Partes
    WHERE (@existenciasMinimas IS NULL OR existencias <= @existenciasMinimas)
    ORDER BY existencias ASC, nombre ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spTipoRefaCatEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spTipoRefaCatEliminar]
GO
CREATE PROCEDURE [dbo].[spTipoRefaCatEliminar]
    @id_tipoRefaCat INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TipoRefaCat 
    WHERE id_tipoRefaCat = @id_tipoRefaCat;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spTipoRefaCatInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spTipoRefaCatInsertar]
GO
CREATE PROCEDURE [dbo].[spTipoRefaCatInsertar]
    @nombre VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO TipoRefaCat
    (
        nombre,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_tipoRefaCat;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spTipoRefaCatMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spTipoRefaCatMostrar]
GO
CREATE PROCEDURE [dbo].[spTipoRefaCatMostrar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_tipoRefaCat, nombre
        
    FROM TipoRefaCat
    ORDER BY nombre ASC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spUnidadesCatEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spUnidadesCatEliminar]
GO
CREATE PROCEDURE [dbo].[spUnidadesCatEliminar]
    @id_unidadesCat INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM UnidadesCat
    WHERE @id_unidadesCat = @id_unidadesCat;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spUnidadesCatInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spUnidadesCatInsertar]
GO
CREATE PROCEDURE [dbo].[spUnidadesCatInsertar]
    @nombre nvarchar(255),
    @descripcion nvarchar(255)

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UnidadesCat
    (
        nombre,
        descripcion,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @nombre,
        @descripcion,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_unidadesCat;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spVersionBuscar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spVersionBuscar]
GO
CREATE PROCEDURE [dbo].[spVersionBuscar]
	@version int 
as
begin
    Select version_id, nombre from Version
	where @version = nombre

end
GO
/****** Objeto: StoredProcedure [dbo].[spVersionEditar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spVersionEditar]
GO
CREATE PROCEDURE [dbo].[spVersionEditar]
    @version_id INT,
    @nombre VARCHAR(100)
AS
BEGIN
    UPDATE Version
    SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE version_id = @version_id;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spVersionEliminar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[spVersionEliminar]
GO
CREATE PROCEDURE [dbo].[spVersionEliminar]
    @version VARCHAR(255)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Version
    WHERE version_id = @version;
    DELETE FROM RelPartesVersion
    WHERE version_id = @version;

    -- Devuelve la cantidad de registros eliminados
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spVersionInsertar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spVersionInsertar]
GO
CREATE PROCEDURE [dbo].[spVersionInsertar]
    @modelo_id int,
    @nombre nvarchar(255)

AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Version
    (
        modelo_id,
        nombre,
        fecha_creacion,
        fecha_modificacion
    )
    VALUES
    (
        @modelo_id,
        @nombre,
        GETDATE(),
        NULL
    );

    -- Devuelve el ID del registro recién creado
    SELECT SCOPE_IDENTITY() AS id_Version;
END;
GO
/****** Objeto: StoredProcedure [dbo].[spVersionMostrar] Fecha de script: 24/09/2026 09:07:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[spVersionMostrar]
GO
CREATE PROCEDURE [dbo].[spVersionMostrar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        version_id, nombre
        
    FROM Version
    ORDER BY nombre ASC;
END;
GO
USE [master]
GO

USE [Refaccionaria]
GO
/* ============================================================================
   CORRECCIONES Y SPs FALTANTES (idempotente)
   ----------------------------------------------------------------------------
   Estas versiones sustituyen a las anteriores del mismo nombre (que tenian
   fan-out o el bug "WHERE @x = @x" que borraba la tabla completa) y agregan
   los SPs que la app necesitaba y no existian.
   ============================================================================ */
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

-- Listado de Partes: UNA fila por parte (agrega marca/modelo/version y anio como rango).
-- @filtro NULL = todas; si viene texto, filtra por num_parte o nombre (LIKE).
DROP PROCEDURE IF EXISTS [dbo].[spPartesMostrar]
GO
CREATE PROCEDURE [dbo].[spPartesMostrar]
    @filtro NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id_parte    AS id_parte,
        p.num_parte   AS NumParte,
        p.nombre      AS Parte,
        p.descripcion AS [Descripción],
        p.precio      AS Precio,
        p.existencias AS Existencias,
        p.costo       AS Costo,
        p.img_path    AS [Path],
        pro.nombre    AS Proveedor,
        cat.nombre    AS Categoria,
        ap_mar.v      AS Marca,
        ap_mod.v      AS Modelo,
        ap_ver.v      AS [Version],
        ap_ani.rango  AS [Año]
    FROM Partes p
    LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat
    LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT mar.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       JOIN Marca mar ON mod.id_marca = mar.id_marca
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_mar
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT mod.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_mod
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT ver.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_ver
    OUTER APPLY (SELECT CASE WHEN MIN(y.a) IS NULL THEN NULL
                            WHEN MIN(y.a) = MAX(y.a) THEN CONVERT(NVARCHAR(10), MIN(y.a))
                            ELSE CONVERT(NVARCHAR(10), MIN(y.a)) + '-' + CONVERT(NVARCHAR(10), MAX(y.a)) END AS rango
                 FROM (SELECT DISTINCT TRY_CAST(ani.nombre AS INT) AS a FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
                       JOIN Anio ani ON ram.anio_id = ani.id_anio
                       WHERE rpv.parte_id = p.id_parte) y) ap_ani
    WHERE @filtro IS NULL
       OR p.num_parte LIKE '%' + @filtro + '%'
       OR p.nombre    LIKE '%' + @filtro + '%'
    ORDER BY p.num_parte ASC;
END;
GO

-- Filtro de Partes por compatibilidad. Cualquier parametro NULL se ignora. Una fila por parte.
DROP PROCEDURE IF EXISTS [dbo].[spPartesFiltro]
GO
CREATE PROCEDURE [dbo].[spPartesFiltro]
    @Marca     VARCHAR(100) = NULL,
    @Modelo    VARCHAR(100) = NULL,
    @Version   VARCHAR(100) = NULL,
    @Anio      VARCHAR(10)  = NULL,
    @Categoria VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        p.id_parte    AS id_parte,
        p.num_parte   AS NumParte,
        p.nombre      AS Parte,
        p.descripcion AS [Descripción],
        p.precio      AS Precio,
        p.existencias AS Existencias,
        p.costo       AS Costo,
        p.img_path    AS [Path],
        pro.nombre    AS Proveedor,
        cat.nombre    AS Categoria,
        ap_mar.v      AS Marca,
        ap_mod.v      AS Modelo,
        ap_ver.v      AS [Version],
        ap_ani.rango  AS [Año]
    FROM Partes p
    LEFT JOIN TipoRefaCat cat ON p.tipoRefaCat_id = cat.id_tipoRefaCat
    LEFT JOIN Proveedores pro ON p.proveedor_id = pro.id_proveedor
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT mar.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       JOIN Marca mar ON mod.id_marca = mar.id_marca
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_mar
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT mod.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_mod
    OUTER APPLY (SELECT STRING_AGG(m.nombre, ', ') WITHIN GROUP (ORDER BY m.nombre) AS v
                 FROM (SELECT DISTINCT ver.nombre FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       WHERE rpv.parte_id = p.id_parte) m(nombre)) ap_ver
    OUTER APPLY (SELECT CASE WHEN MIN(y.a) IS NULL THEN NULL
                            WHEN MIN(y.a) = MAX(y.a) THEN CONVERT(NVARCHAR(10), MIN(y.a))
                            ELSE CONVERT(NVARCHAR(10), MIN(y.a)) + '-' + CONVERT(NVARCHAR(10), MAX(y.a)) END AS rango
                 FROM (SELECT DISTINCT TRY_CAST(ani.nombre AS INT) AS a FROM RelPartesVersion rpv
                       JOIN [Version] ver ON rpv.version_id = ver.version_id
                       JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                       JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
                       JOIN Anio ani ON ram.anio_id = ani.id_anio
                       WHERE rpv.parte_id = p.id_parte) y) ap_ani
    WHERE (@Categoria IS NULL OR cat.nombre = @Categoria)
      AND (
            (@Marca IS NULL AND @Modelo IS NULL AND @Version IS NULL AND @Anio IS NULL)
            OR EXISTS (
                SELECT 1 FROM RelPartesVersion rpv
                JOIN [Version] ver ON rpv.version_id = ver.version_id
                JOIN Modelo mod ON ver.modelo_id = mod.id_modelo
                JOIN Marca mar ON mod.id_marca = mar.id_marca
                LEFT JOIN RelAnioModelo ram ON mod.id_modelo = ram.modelo_id
                LEFT JOIN Anio ani ON ram.anio_id = ani.id_anio
                WHERE rpv.parte_id = p.id_parte
                  AND (@Marca   IS NULL OR mar.nombre = @Marca)
                  AND (@Modelo  IS NULL OR mod.nombre = @Modelo)
                  AND (@Version IS NULL OR ver.nombre = @Version)
                  AND (@Anio    IS NULL OR ani.nombre = @Anio)
            )
      )
    ORDER BY p.num_parte ASC;
END;
GO

-- Wrappers de busqueda por num_parte (dedupe): reutilizan el listado agrupado.
DROP PROCEDURE IF EXISTS [dbo].[spParteBuscar]
GO
CREATE PROCEDURE [dbo].[spParteBuscar] @parte NVARCHAR(100)
AS BEGIN SET NOCOUNT ON; EXEC dbo.spPartesMostrar @filtro = @parte; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_ParteBuscar]
GO
CREATE PROCEDURE [dbo].[sp_ParteBuscar] @num_parte NVARCHAR(100)
AS BEGIN SET NOCOUNT ON; EXEC dbo.spPartesMostrar @filtro = @num_parte; END;
GO

-- Detalle de una parte por id (con IDs de FK) para el form de edicion.
DROP PROCEDURE IF EXISTS [dbo].[spPartePorId]
GO
CREATE PROCEDURE [dbo].[spPartePorId] @id_parte INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_parte, tipoRefaCat_id, proveedor_id, unidad_id, nombre, descripcion,
           num_parte, img_path, costo, precio, existencias
    FROM Partes WHERE id_parte = @id_parte;
END;
GO

-- Version/modelo/marca actualmente asociada a una parte.
DROP PROCEDURE IF EXISTS [dbo].[spParteVersionActual]
GO
CREATE PROCEDURE [dbo].[spParteVersionActual] @parte_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 rv.version_id, v.modelo_id, mo.id_marca
    FROM RelPartesVersion rv
    JOIN [Version] v ON rv.version_id = v.version_id
    JOIN Modelo mo ON v.modelo_id = mo.id_modelo
    WHERE rv.parte_id = @parte_id;
END;
GO

-- Alta de parte: ahora acepta @unidad_id (antes el form hacia un UPDATE aparte).
DROP PROCEDURE IF EXISTS [dbo].[spPartesInsertar]
GO
CREATE PROCEDURE [dbo].[spPartesInsertar]
    @tipoRefaCat_id INT,
    @proveedor_id   INT,
    @unidad_id      INT = NULL,
    @nombre         NVARCHAR(255),
    @descripcion    NVARCHAR(255),
    @num_parte      NVARCHAR(255),
    @img_path       NVARCHAR(255),
    @costo          FLOAT,
    @precio         FLOAT,
    @existencias    FLOAT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Partes (tipoRefaCat_id, proveedor_id, unidad_id, nombre, descripcion,
                        num_parte, img_path, costo, precio, existencias,
                        fecha_creacion, fecha_modificacion)
    VALUES (@tipoRefaCat_id, @proveedor_id, @unidad_id, @nombre, @descripcion,
            @num_parte, @img_path, @costo, @precio, @existencias, GETDATE(), NULL);
    SELECT SCOPE_IDENTITY() AS id_parte;
END;
GO

-- Borrado de parte en cascada (limpia relaciones y luego la parte) en transaccion.
-- Reemplaza el bug "WHERE @id_parte = @id_parte" que borraba TODA la tabla.
DROP PROCEDURE IF EXISTS [dbo].[spPartesEliminar]
GO
CREATE PROCEDURE [dbo].[spPartesEliminar] @id_parte INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM RelPartesVersion WHERE parte_id = @id_parte;
        DELETE FROM RelEquivalencias WHERE parte_id = @id_parte OR equivalente_id = @id_parte;
        DELETE FROM Partes WHERE id_parte = @id_parte;
        COMMIT TRANSACTION;
        SELECT @@ROWCOUNT AS RegistrosEliminados;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO

-- Borrado de equivalencia por par de partes (bidireccional).
DROP PROCEDURE IF EXISTS [dbo].[spRelEquivalenciasEliminarPorPar]
GO
CREATE PROCEDURE [dbo].[spRelEquivalenciasEliminarPorPar]
    @parte_id INT, @equivalente_id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM RelEquivalencias
    WHERE (parte_id = @parte_id AND equivalente_id = @equivalente_id)
       OR (parte_id = @equivalente_id AND equivalente_id = @parte_id);
    SELECT @@ROWCOUNT AS RegistrosEliminados;
END;
GO

-- Listado de Modelos con su Marca (para el grid de Modelos).
DROP PROCEDURE IF EXISTS [dbo].[spModeloMostrarConMarca]
GO
CREATE PROCEDURE [dbo].[spModeloMostrarConMarca]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT mo.id_modelo, mo.nombre, ma.nombre AS marca, mo.id_marca
    FROM Modelo mo LEFT JOIN Marca ma ON mo.id_marca = ma.id_marca
    ORDER BY mo.nombre;
END;
GO

-- Listado de Versiones con su Modelo (para el grid de Versiones).
DROP PROCEDURE IF EXISTS [dbo].[spVersionMostrarConModelo]
GO
CREATE PROCEDURE [dbo].[spVersionMostrarConModelo]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT v.version_id, v.nombre, mo.nombre AS modelo, v.modelo_id
    FROM [Version] v LEFT JOIN Modelo mo ON v.modelo_id = mo.id_modelo
    ORDER BY v.nombre;
END;
GO

-- Versiones por modelo (combo en cascada del form de partes).
DROP PROCEDURE IF EXISTS [dbo].[sp_ObtenerVersiones]
GO
CREATE PROCEDURE [dbo].[sp_ObtenerVersiones] @IdModelo INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT version_id, nombre FROM [Version] WHERE modelo_id = @IdModelo ORDER BY nombre;
END;
GO

-- Unidades: listado y edicion (faltaban).
DROP PROCEDURE IF EXISTS [dbo].[spUnidadesCatMostrar]
GO
CREATE PROCEDURE [dbo].[spUnidadesCatMostrar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_unidadesCat, nombre, descripcion FROM UnidadesCat ORDER BY nombre;
END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spUnidadesCatEditar]
GO
CREATE PROCEDURE [dbo].[spUnidadesCatEditar]
    @id_unidadesCat INT, @nombre NVARCHAR(255), @descripcion NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE UnidadesCat SET nombre = @nombre, descripcion = @descripcion, fecha_modificacion = GETDATE()
    WHERE id_unidadesCat = @id_unidadesCat;
END;
GO

-- Proveedores: edicion (faltaba).
DROP PROCEDURE IF EXISTS [dbo].[spProveedoresEditar]
GO
CREATE PROCEDURE [dbo].[spProveedoresEditar]
    @id_proveedor INT, @nombre NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Proveedores SET nombre = @nombre, fecha_modificacion = GETDATE()
    WHERE id_proveedor = @id_proveedor;
END;
GO

-- Actualizar solo la cabecera de una cotizacion (el detalle usa sus propios SPs).
DROP PROCEDURE IF EXISTS [dbo].[spCotizacionesActualizarCabecera]
GO
CREATE PROCEDURE [dbo].[spCotizacionesActualizarCabecera]
    @folio INT, @cliente VARCHAR(255),
    @subtotal DECIMAL(10,2), @IVA DECIMAL(10,2), @total DECIMAL(10,2),
    @vigencia DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Cotizaciones
    SET cliente = @cliente, subtotal = @subtotal, IVA = @IVA, total = @total, vigencia = @vigencia
    WHERE folio = @folio;
END;
GO

-- Correccion de los demas SPs de borrado con el bug "WHERE @x = @x".
DROP PROCEDURE IF EXISTS [dbo].[spRelAnioModeloEliminar]
GO
CREATE PROCEDURE [dbo].[spRelAnioModeloEliminar] @id_relAnioModelo INT
AS BEGIN SET NOCOUNT ON; DELETE FROM RelAnioModelo WHERE id_relAnioModelo = @id_relAnioModelo; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spRelEquivalenciasEliminar]
GO
CREATE PROCEDURE [dbo].[spRelEquivalenciasEliminar] @id_relEquivalencia INT
AS BEGIN SET NOCOUNT ON; DELETE FROM RelEquivalencias WHERE id_relEquivalencias = @id_relEquivalencia; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spRelMarcaAnioEliminar]
GO
CREATE PROCEDURE [dbo].[spRelMarcaAnioEliminar] @id_relMarcaAnio INT
AS BEGIN SET NOCOUNT ON; DELETE FROM RelMarcaAnio WHERE id_relMarcaAnio = @id_relMarcaAnio; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spRelPartesVersionEliminar]
GO
CREATE PROCEDURE [dbo].[spRelPartesVersionEliminar] @id_relParteVersion INT
AS BEGIN SET NOCOUNT ON; DELETE FROM RelPartesVersion WHERE id_relParteVersion = @id_relParteVersion; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spRelVersionEliminar]
GO
CREATE PROCEDURE [dbo].[spRelVersionEliminar] @id_version INT
AS BEGIN SET NOCOUNT ON; DELETE FROM [Version] WHERE version_id = @id_version; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO
DROP PROCEDURE IF EXISTS [dbo].[spUnidadesCatEliminar]
GO
CREATE PROCEDURE [dbo].[spUnidadesCatEliminar] @id_unidadesCat INT
AS BEGIN SET NOCOUNT ON; DELETE FROM UnidadesCat WHERE id_unidadesCat = @id_unidadesCat; SELECT @@ROWCOUNT AS RegistrosEliminados; END;
GO